@charset "UTF-8";
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  text-rendering: optimizeLegibility;
  box-sizing: border-box; }

body {
  font-family: 'Lato', sans-serif;
  font-size: 1.6rem;
  color: var(--color-primary-main);
  background-color: var(--color-primary);
  line-height: 1.6rem; }

.heading {
  font-size: 2rem;
  text-align: center;
  font-family: var(--font-display);
  margin-top: 2rem; }

.u-mg-bottom {
  margin-bottom: 6rem; }

.u-mg-bottom2 {
  margin-bottom: 3rem; }

.border {
  border-bottom: 1px solid rgba(238, 238, 238, 0.342); }

.btn-white {
  color: var(--color-white);
  border: 2px solid var(--color-white); }
  .btn-white:hover {
    border: 2px solid transparent;
    color: var(--color-primary-main); }

.icon {
  height: 2rem;
  width: 2rem; }

.left {
  display: flex;
  align-items: center;
  cursor: pointer; }
  .left svg {
    height: 2rem;
    width: 2rem; }

.input {
  display: flex;
  align-items: center; }
  .input svg {
    height: 2rem;
    width: 2rem;
    margin-right: 1.2rem; }
  .input input {
    align-items: flex-start;
    flex-basis: 90%;
    width: 52rem;
    padding: 1rem;
    border: none;
    font-size: 1.4rem;
    font-family: 'Josefin Sans', sans-serif; }
    .input input:focus {
      outline: none; }

.icon-box {
  height: 4rem;
  width: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: -2rem;
  cursor: pointer;
  background-color: var(--color-btn); }

.icon-search {
  fill: var(--color-white); }

.img {
  width: 200px;
  height: auto;
  max-height: 200px; }

.flex {
  display: flex;
  align-items: center; }

.iconplan {
  height: 3.4rem;
  width: 3.4rem;
  fill: var(--color-primary-dark); }

.positioned {
  position: fixed;
  top: 0;
  z-index: 95;
  width: 100%;
  background-color: var(--color-white);
  padding: 1rem 4rem;
  align-self: center;
  box-shadow: 2px 2px 6px #8888884d; }

.align {
  align-self: flex-end;
  margin: 1rem; }

.none {
  width: 0;
  height: 0;
  display: none !important; }

:root {
  --color-primary: #eee;
  --color-primary-main: #323232;
  --color-primary-light: #424242;
  --color-primary-sub: orangered;
  --color-white: #fff;
  --color-white-light: #f5f5f5;
  --color-blue: #0c5bd1;
  --color-blue-dark:rgb(8, 79, 187);
  --color-green: #0ed149;
  --color-btn: #e67e22;
  --color-btn-hover: #e47311;
  --color-primary1: #c69963;
  --color-primary-dark: #B28451;
  --grid-width: 114rem;
  --gutter-horizontal: 4rem;
  --gutter-vertical: 8rem;
  --font-primary: Sans-serif;
  --font-display: 'Josefin Sans', sans-serif; }

.btn {
  display: inline-block;
  border: 2px solid var(--color-primary-main);
  background-color: transparent;
  padding: 1rem 2rem;
  font-family: 'Lato', sans-serif;
  color: var(--color-primary-main);
  border-radius: 50px;
  font-weight: 900;
  cursor: pointer; }
  .btn:hover {
    background-color: var(--color-primary-main);
    border: 2px solid transparent;
    color: var(--color-white); }

.btn-help {
  display: inline-block;
  border: 2px solid var(--color-white);
  background-color: transparent;
  padding: .8rem 2rem;
  font-family: 'Lato', sans-serif;
  color: var(--color-white);
  border-radius: 50px;
  font-weight: 900;
  cursor: pointer; }
  .btn-help:hover {
    background-color: var(--color-white);
    border: 2px solid transparent;
    color: var(--color-primary-main); }

.btn-active {
  display: inline-block;
  border: 2px solid var(--color-primary-main);
  background-color: var(--color-primary-main);
  padding: 1rem 2rem;
  font-family: 'Lato', sans-serif;
  color: var(--color-white);
  border-radius: 50px;
  font-weight: 900;
  cursor: pointer; }
  .btn-active:hover {
    background-color: var(--color-primary-main);
    border: 2px solid transparent;
    color: var(--color-white); }

.btn-find {
  display: inline-block;
  border: 2px solid var(--color-blue);
  background-color: var(--color-blue);
  padding: 1rem 2rem;
  font-family: 'Lato', sans-serif;
  color: var(--color-white);
  border-radius: 50px;
  font-weight: 900;
  cursor: pointer;
  margin-left: 1rem; }
  .btn-find:hover {
    background-color: var(--color-blue-dark);
    border: 2px solid transparent;
    color: var(--color-white); }

.closeBtn {
  align-self: flex-end;
  background-color: var(--color-blue);
  color: var(--color-white);
  height: 2.4rem;
  width: 2.4rem;
  border-radius: 50%;
  font-size: 1.6rem;
  margin-top: -5rem;
  margin-right: -2.6rem;
  border: 2px solid var(--color-white);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer; }

.btn__slider {
  z-index: 10000;
  height: 4rem;
  width: 4rem;
  border: none;
  background-color: var(--color-btn);
  border-radius: 50%;
  cursor: pointer; }
  .btn__slider svg {
    height: 2rem;
    width: 2rem;
    fill: var(--color-white); }
  .btn__slider-left {
    left: 10px;
    margin-left: 1rem;
    top: 52%;
    transform: translate(-50%, -50%);
    cursor: pointer; }
  .btn__slider-right {
    margin-left: 98rem;
    margin-right: 2rem;
    right: 10px;
    transform: translate(-50%, -50%);
    cursor: pointer; }

.buttons {
  z-index: 91;
  position: absolute;
  top: 52%;
  display: flex;
  justify-content: space-between; }

.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 50rem; }
  .card__side {
    height: 50rem;
    border-radius: 5px;
    transition: all .8s ease;
    color: var(--color-primary-main);
    font-size: 2rem;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden; }
    .card__side-front {
      background-color: var(--color-white);
      overflow: hidden; }
    .card__side-back {
      transform: rotateY(180deg); }
      .card__side-back-1 {
        background-image: linear-gradient(to right bottom, #ffb900, #ff7730); }
      .card__side-back-2 {
        background-image: linear-gradient(to right bottom, #2998ff, #5643fa); }
      .card__side-back-3 {
        background-image: linear-gradient(to right bottom, #7ed56f, #28b485); }
  .card:hover .card__side-front {
    transform: rotateY(-180deg); }
  .card:hover .card__side-back {
    transform: rotateY(0deg); }
  .card__picture {
    background-size: cover;
    height: 23rem;
    background-blend-mode: screen; }
    .card__picture-1 {
      background-image: url(/img/company/img1.jpg); }
    .card__picture-2 {
      background-image: url(/img/company/img7.jpg); }
    .card__picture-3 {
      background-image: url(/img/company/img5.jpg); }
  .card__heading {
    font-size: 1.2rem;
    font-family: var(--font-display);
    font-weight: 300;
    text-transform: uppercase;
    text-align: right;
    color: var(--color-primary-main);
    position: absolute;
    top: 12rem;
    right: 2rem;
    background-color: var(--color-white);
    padding: 1rem;
    border-radius: 3px; }
  .card__details {
    margin-top: 1.2rem; }
    .card__details ul {
      width: 100%;
      list-style: none; }
      .card__details ul ::before {
        content: '✓'; }
      .card__details ul li {
        text-align: center;
        font-size: 1.5rem;
        padding: 1rem;
        font-family: var(--font-display); }
  .card__note {
    font-family: var(--font-display);
    font-size: 1.4rem;
    font-weight: 300;
    text-align: center;
    width: 95%;
    margin-top: 1.3rem;
    padding: 1rem; }
  .card-cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .card__price-box {
    color: var(--color-white);
    font-family: var(--font-display);
    margin-bottom: 2rem; }
    .card__price-box-name {
      font-size: 3rem;
      font-weight: 300;
      text-align: center;
      margin-bottom: 1.3rem; }
    .card__price-box p sup {
      font-size: 1rem; }
    .card__price-box-value {
      font-size: 2.4rem;
      font-weight: 500;
      text-align: center;
      margin-top: 4rem; }

.footer {
  padding-top: 5rem;
  padding-bottom: 2rem;
  background-color: var(--color-primary-main);
  color: var(--color-white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: var(--font-display); }
  .footer-home {
    display: flex;
    align-items: center; }
    .footer-home a,
    .footer-home :link,
    .footer-home :visited {
      display: inline-block;
      text-decoration: none;
      color: var(--color-primary);
      font-size: 1.2rem; }
      .footer-home a:hover,
      .footer-home :link:hover,
      .footer-home :visited:hover {
        color: var(--color-btn); }
  .footer h4 {
    display: inline-block;
    text-align: center; }
  .footer p {
    width: 45%;
    margin-top: 2rem;
    display: inline-block;
    align-self: center;
    text-align: center;
    font-weight: 1.2rem;
    font-weight: 300; }
  .footer__links {
    margin-top: 3rem;
    align-self: center;
    padding: 1rem; }
    .footer__links ul {
      display: flex; }
      .footer__links ul li {
        list-style: none;
        margin-right: 2rem; }
        .footer__links ul li a,
        .footer__links ul li :link,
        .footer__links ul li :visited {
          text-decoration: none;
          color: var(--color-white);
          font-size: 1.4rem;
          border-right: 2px solid var(--color-primary);
          padding-right: 1.4rem; }
          .footer__links ul li a:hover,
          .footer__links ul li :link:hover,
          .footer__links ul li :visited:hover {
            text-decoration: underline;
            color: var(--color-btn); }

.iconplan2 {
  vertical-align: middle;
  fill: white;
  margin-left: 2rem;
  height: 2rem;
  width: 2rem;
  margin-bottom: .5rem; }
  .iconplan2:hover {
    fill: var(--color-btn); }

.customer-support {
  position: absolute;
  position: fixed;
  display: inline-block;
  bottom: 5.4rem;
  right: 1.6rem;
  z-index: 300;
  width: 35rem;
  border-radius: 5px;
  height: 50rem;
  background-image: linear-gradient(to right bottom, #2998ff, #5643fa);
  font-family: var(--font-display);
  color: var(--color-white);
  transform: translateY(0);
  opacity: 1;
  transition: transform 2s ease-out;
  transition-delay: 1s; }
  .customer-support__content {
    display: flex;
    padding: 1rem;
    flex-direction: column; }
    .customer-support__content-top {
      display: flex;
      justify-content: space-between; }
      .customer-support__content-top-left {
        display: flex;
        align-items: center; }
        .customer-support__content-top-left img {
          margin-right: 1rem;
          height: 2rem;
          width: 2rem; }
    .customer-support__content-center {
      margin-top: 3rem;
      padding: 0 1rem; }
      .customer-support__content-center h3 {
        margin-top: 1.4rem;
        font-weight: 300;
        font-size: 2rem; }
    .customer-support__content-help {
      padding: 0 1rem;
      padding-bottom: 2rem; }
      .customer-support__content-help h4 {
        margin-top: 2rem;
        font-weight: 700; }
      .customer-support__content-help p {
        margin-top: 1rem;
        font-weight: 300; }
      .customer-support__content-help button {
        margin-top: 2rem; }
    .customer-support__content a,
    .customer-support__content :link,
    .customer-support__content :visited {
      color: var(--color-white);
      font-size: 1.7rem;
      font-weight: 300;
      margin-top: 2rem; }

.iconDown {
  fill: var(--color-white);
  height: 2rem;
  width: 2rem;
  transform: rotate(-90deg);
  cursor: pointer; }

.usecase {
  display: none;
  transform: translateY(20rem);
  opacity: 0; }

.row {
  max-width: var(--grid-width);
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: var(--gutter-horizontal); }
  .row::after {
    display: table;
    content: "";
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: var(--gutter-horizontal); }
  .row .col-1-of-2 {
    width: calc((100% - var(--gutter-horizontal)) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * var(--gutter-horizontal)) / 3); }
  .row .col-2-of-3 {
    width: calc( 2 * ((100% - 2 * var(--gutter-horizontal)) / 3 ) + var(--gutter-horizontal)); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * var(--gutter-horizontal)) / 4);
    background-color: var(--color-white);
    padding: 25px 12px;
    border-radius: 2px;
    box-shadow: 2px 4px solid var(--color-primary-main); }
  .row .col-2-of-4 {
    width: calc( 2 * ((100% - 3 * var(--gutter-horizontal)) / 4) + var(--gutter-horizontal)); }
  .row .col-3-of-4 {
    width: calc( 3 * ((100% - 3 * var(--gutter-horizontal)) / 4) + ( 2 * var(--gutter-horizontal))); }

.header {
  background-color: var(--color-white);
  padding: 2rem 2rem;
  border-bottom: .5px solid #32323210; }
  .header-nav {
    display: flex;
    flex-direction: column; }
    .header-nav__top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 2rem; }
      .header-nav__top-left {
        display: flex;
        align-items: center; }
        .header-nav__top-left-link {
          display: flex;
          align-items: center; }
          .header-nav__top-left-link a,
          .header-nav__top-left-link :link,
          .header-nav__top-left-link :visited {
            display: flex;
            align-items: center;
            font-size: 1.4rem;
            text-decoration: none;
            color: var(--color-primary-main); }
            .header-nav__top-left-link a:not(:last-child),
            .header-nav__top-left-link :link:not(:last-child),
            .header-nav__top-left-link :visited:not(:last-child) {
              margin-right: 2rem; }
            .header-nav__top-left-link a img,
            .header-nav__top-left-link :link img,
            .header-nav__top-left-link :visited img {
              height: 4rem;
              width: 4rem;
              margin-right: 1.4rem; }
            .header-nav__top-left-link a div h2,
            .header-nav__top-left-link :link div h2,
            .header-nav__top-left-link :visited div h2 {
              font-size: 1.9rem;
              font-family: 'Josefin Sans', sans-serif; }
              .header-nav__top-left-link a div h2 sup,
              .header-nav__top-left-link :link div h2 sup,
              .header-nav__top-left-link :visited div h2 sup {
                font-size: 0.8rem; }
        .header-nav__top-left-textlink a,
        .header-nav__top-left-textlink :link,
        .header-nav__top-left-textlink :visited {
          text-decoration: none;
          align-self: center;
          margin-left: 2rem;
          color: var(--color-primary-main);
          font-family: 'Lato', sans-serif;
          border-left: 2px solid var(--color-primary);
          padding-left: 2rem; }
          .header-nav__top-left-textlink a:hover,
          .header-nav__top-left-textlink :link:hover,
          .header-nav__top-left-textlink :visited:hover {
            color: var(--color-btn); }
      .header-nav__top-right {
        display: flex; }
        .header-nav__top-right-links ul {
          display: flex; }
          .header-nav__top-right-links ul li {
            list-style: none;
            font-size: 1.6rem;
            font-family: 'Lato', sans-serif;
            display: flex;
            align-items: center;
            margin-right: 1.4rem; }
            .header-nav__top-right-links ul li a,
            .header-nav__top-right-links ul li :link,
            .header-nav__top-right-links ul li :visited {
              text-decoration: none;
              font-family: 'Lato', sans-serif;
              font-weight: 500;
              font-size: 1.4rem;
              display: flex;
              align-items: center;
              color: var(--color-primary-main); }
              .header-nav__top-right-links ul li a:hover,
              .header-nav__top-right-links ul li :link:hover,
              .header-nav__top-right-links ul li :visited:hover {
                color: var(--color-black); }
            .header-nav__top-right-links ul li svg {
              height: 2rem;
              width: 2rem; }
            .header-nav__top-right-links ul li span {
              align-self: flex-start;
              height: 1.8rem;
              width: 1.8rem;
              background-color: var(--color-btn);
              display: flex;
              align-items: center;
              color: var(--color-white);
              border-radius: 50%;
              justify-content: center;
              margin-left: -1rem;
              font-size: 1.4rem;
              margin-top: -0.6rem; }
    .header-nav__bottom {
      display: flex;
      justify-content: space-between;
      align-items: center; }
      .header-nav__bottom-left {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem;
        border: 1px solid var(--color-primary);
        flex-basis: 20%;
        margin-right: 5.5rem;
        cursor: pointer; }
        .header-nav__bottom-left-categories {
          display: flex;
          align-items: center;
          justify-content: space-between; }
          .header-nav__bottom-left-categories svg {
            height: 2rem;
            width: 2rem;
            margin-right: 1.4rem; }
        .header-nav__bottom-left-dropdown svg {
          height: 2rem;
          width: 2rem; }
      .header-nav__bottom-center {
        flex-basis: 60%;
        display: flex;
        align-self: center; }
        .header-nav__bottom-center form {
          display: flex;
          align-items: center;
          height: 4rem;
          padding: 0 1rem;
          border: 2px solid var(--color-btn);
          flex-basis: 90%;
          justify-content: space-between; }
        .header-nav__bottom-center-icons {
          display: flex;
          align-items: center;
          justify-content: center; }
          .header-nav__bottom-center-icons svg {
            height: 2rem;
            width: 2rem;
            cursor: pointer; }
            .header-nav__bottom-center-icons svg:not(:last-child) {
              margin-right: 1.2rem; }
      .header-nav__bottom-right {
        flex-basis: 20%;
        display: flex;
        align-self: center;
        border: 1px solid var(--color-primary);
        padding: 1rem;
        justify-content: center;
        cursor: pointer; }
        .header-nav__bottom-right-add {
          display: flex;
          align-items: center; }
          .header-nav__bottom-right-add svg {
            height: 2rem;
            width: 2rem;
            margin-right: 1.3rem; }

.categories {
  background-color: rgba(82, 80, 80, 0.397);
  position: relative;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center; }
  .categories__content {
    height: 25rem;
    width: 70rem;
    background-color: var(--color-white);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    font-family: var(--font-display); }
    .categories__content-icon {
      align-self: flex-end; }
    .categories__content-details {
      margin-top: 1.3rem; }
      .categories__content-details h4 {
        margin-bottom: 1rem; }
      .categories__content-details p em {
        font-weight: 900; }
    .categories__content-links {
      margin-top: 6rem;
      align-self: center; }
      .categories__content-links ul {
        display: flex; }
        .categories__content-links ul li {
          list-style: none;
          margin-right: 1.8rem; }
          .categories__content-links ul li a,
          .categories__content-links ul li :link,
          .categories__content-links ul li :visited {
            text-decoration: none;
            height: 2rem;
            width: 2rem;
            padding: 1rem 2rem;
            border: 3px solid var(--color-primary-main);
            border-radius: 100px;
            color: var(--color-primary-main); }
            .categories__content-links ul li a:hover,
            .categories__content-links ul li :link:hover,
            .categories__content-links ul li :visited:hover {
              color: var(--color-white);
              background-color: var(--color-primary-main); }
    .categories__content-note {
      margin-top: 2rem;
      align-self: center;
      padding: 1rem; }
      .categories__content-note p {
        font-size: 1.2rem; }

.section-products__slider {
  height: 44rem;
  width: 95%;
  background-color: var(--color-white);
  position: relative;
  border-radius: 5px;
  overflow: hidden;
  padding: 2rem; }

.slide-products__slider {
  position: absolute;
  transition: transform 1s; }
  .slide-products__slider-content {
    display: flex;
    justify-content: space-around; }
    .slide-products__slider-content-left {
      flex-basis: 70%;
      display: grid;
      grid-template-columns: repeat(3, 200px);
      grid-template-rows: repeat(2, 1fr);
      grid-gap: 30px;
      padding: 2rem; }
    .slide-products__slider-content-right {
      flex-basis: 30%;
      padding: 2rem;
      border: 1px solid var(--color-primary);
      border-radius: 5px;
      display: flex;
      flex-direction: column; }
      .slide-products__slider-content-right-heading {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 1.6rem;
        border-bottom: 2px solid var(--color-primary); }
        .slide-products__slider-content-right-heading-state {
          display: flex;
          align-items: center; }
          .slide-products__slider-content-right-heading-state svg {
            height: 2rem;
            width: 2rem; }
        .slide-products__slider-content-right-heading-price p {
          font-family: 'Lato', sans-serif;
          font-weight: 500;
          font-size: 2rem; }
          .slide-products__slider-content-right-heading-price p sup {
            font-size: 1rem;
            font-family: 'Lato', sans-serif;
            font-weight: 900; }
      .slide-products__slider-content-right-list {
        align-self: center;
        margin-top: 1.2rem;
        font-family: 'Josefin Sans', sans-serif;
        font-size: 1.4rem;
        color: var(--color-primary-main); }
        .slide-products__slider-content-right-list ul {
          list-style: none; }
          .slide-products__slider-content-right-list ul ::before {
            content: '✓'; }
          .slide-products__slider-content-right-list ul li {
            margin-bottom: .5rem; }
        .slide-products__slider-content-right-list p {
          font-size: 1.3rem;
          color: var(--color-blue); }
        .slide-products__slider-content-right-list-details {
          display: flex;
          justify-content: space-between;
          margin-top: 1rem;
          margin-bottom: 1.4rem; }
          .slide-products__slider-content-right-list-details-text {
            margin-left: 1rem;
            margin-right: 1rem; }
            .slide-products__slider-content-right-list-details-text p {
              color: var(--color-primary-main); }
            .slide-products__slider-content-right-list-details-text h6 {
              font-size: 1rem; }
          .slide-products__slider-content-right-list-details-price p {
            color: var(--color-primary-main);
            font-size: 1.7rem;
            font-weight: 500; }
            .slide-products__slider-content-right-list-details-price p sup {
              font-size: .8rem; }
      .slide-products__slider-content-right-note p {
        font-size: 1.2rem;
        font-weight: 500; }
      .slide-products__slider-content-right-btns {
        display: flex;
        align-items: center;
        justify-content: center;
        vertical-align: middle;
        flex-direction: column;
        margin-top: 20px; }
        .slide-products__slider-content-right-btns button {
          backdrop-filter: blur(40px);
          vertical-align: middle; }
          .slide-products__slider-content-right-btns button svg {
            height: 2rem;
            width: 2rem;
            margin-top: 1rem; }

.content-1 {
  display: grid;
  grid-row: 1 / span 2; }
  .content-1 p {
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 500; }
  .content-1 span {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 500;
    width: 100%;
    font-size: 1.4rem;
    text-align: center; }
    .content-1 span::after {
      content: "";
      display: inline-block;
      height: 4px;
      width: 100px;
      background-color: var(--color-btn);
      border-radius: 5px;
      margin-top: 1.2rem; }

.content-2 {
  max-height: 200px; }

.section-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  grid-gap: 6rem;
  padding: 6rem 0;
  justify-items: center;
  align-items: center;
  justify-content: center;
  align-content: center; }
  .section-grid-feature {
    display: flex; }
    .section-grid-feature-icon {
      margin-right: 2rem;
      align-self: flex-start; }
    .section-grid-feature-text {
      font-family: var(--font-display); }
      .section-grid-feature-text h4 {
        margin-bottom: 1.2rem;
        font-size: 1.4rem; }
      .section-grid-feature-text p {
        font-size: 1.3rem;
        width: 90%; }

.back-to-top {
  position: fixed;
  bottom: 10px;
  right: 16px;
  z-index: 90;
  cursor: pointer; }
  .back-to-top-icon {
    height: 4rem;
    width: 4rem;
    background-color: var(--color-btn);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotate(90deg); }
    .back-to-top-icon svg {
      height: 2rem;
      width: 2rem;
      fill: var(--color-white); }

.prod-request-modal {
  background-color: rgba(82, 80, 80, 0.397);
  position: relative;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center; }
  .prod-request-modal__content {
    position: relative;
    background-color: var(--color-white);
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    padding: .2rem 2rem;
    font-family: var(--font-display);
    border-top: 5px solid var(--color-blue); }
    .prod-request-modal__content h4 {
      font-weight: 900;
      margin: 1rem;
      font-size: 1.6rem; }
    .prod-request-modal__content p {
      font-size: 1.3rem;
      margin-bottom: 1rem; }
    .prod-request-modal__content-find {
      margin-top: 1rem;
      border-bottom: 2px solid var(--color-primary);
      padding-bottom: 2rem;
      margin-bottom: 3rem; }
      .prod-request-modal__content-find p {
        font-size: 1.3rem;
        margin: 1rem; }
    .prod-request-modal__content-btn {
      align-self: flex-end;
      padding-bottom: 1rem; }
    .prod-request-modal__content-spinner {
      align-self: flex-start;
      margin-bottom: -2.4rem;
      display: flex;
      align-items: center;
      z-index: 102; }
      .prod-request-modal__content-spinner i {
        margin-right: 1.2rem; }
      .prod-request-modal__content-spinner p {
        color: var(--color-blue); }
    .prod-request-modal__content-alert {
      position: absolute;
      display: flex;
      flex-direction: column;
      border-top: 4px solid var(--color-white);
      top: 30%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: var(--color-primary-main);
      padding: 1rem;
      color: var(--color-white);
      border-radius: 5px;
      transition: all .2s; }
      .prod-request-modal__content-alert p {
        font-size: 1.2rem;
        margin: 1rem; }
      .prod-request-modal__content-alert::before {
        content: "";
        display: block;
        border: 10px solid transparent;
        border-top-color: var(--color-primary-main);
        margin: 0 auto;
        position: absolute;
        top: 100%;
        left: 50%; }

.textarea {
  outline: none;
  border: 3px solid #0c5bd154;
  border-radius: 5px;
  resize: none;
  padding: 1rem;
  font-family: var(--font-display);
  font-size: 1.5rem;
  font-weight: 700; }
  .textarea:focus {
    border: 3px solid #0c5bd1; }

.hidden {
  display: none; }

.section-testimonials {
  display: flex;
  flex-direction: column; }
  .section-testimonials__note {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: var(--font-display);
    text-align: center; }
    .section-testimonials__note h4 {
      margin: 1rem;
      font-size: 2rem; }
    .section-testimonials__note p {
      font-size: 1.3rem;
      width: 70%; }
  .section-testimonials__container {
    align-self: center;
    font-family: var(--font-display);
    justify-self: center;
    background-color: #476ce4;
    color: var(--color-white);
    margin: 20px 0;
    border-radius: 15px;
    padding: 5rem 8rem;
    max-width: 768px;
    position: relative; }

.user {
  display: flex;
  margin-top: 2rem;
  align-self: center; }
  .user img {
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    margin-right: 2rem;
    border: 3px solid var(--color-white); }
  .user div h6 {
    font-size: 1.3rem;
    font-weight: 500;
    margin-bottom: .5rem; }
  .user div p {
    font-size: 1.3rem; }

.fa {
  color: rgba(255, 255, 255, 0.3);
  font-size: 20px;
  top: 4rem;
  position: absolute; }

.fa-quote-right {
  left: 50px; }

.fa-quote-left {
  right: 50px; }

.progress-bar {
  background-color: var(--color-white);
  height: 4px;
  width: 100%;
  margin-bottom: 1.2rem;
  margin-top: -1rem;
  border-radius: 50px;
  animation: grow 10s linear infinite;
  transform-origin: left; }

@keyframes grow {
  0% {
    transform: scaleX(0); } }

.section-testimonials-brands {
  margin-top: 5rem; }
  .section-testimonials-brands__content {
    display: flex; }
    .section-testimonials-brands__content-brand {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-family: var(--font-display); }
      .section-testimonials-brands__content-brand img {
        height: 2rem;
        width: 2rem;
        margin-bottom: 2rem; }
      .section-testimonials-brands__content-brand p {
        width: 100%;
        font-size: 1.3rem;
        font-weight: 300;
        text-align: center; }

.sign-in-modal {
  background-color: rgba(82, 80, 80, 0.397);
  position: relative;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 200;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1; }
  .sign-in-modal__content {
    display: flex;
    position: relative;
    flex-direction: column;
    height: 42rem;
    width: 29rem;
    border-radius: 5px;
    border-top: 6px solid var(--color-blue);
    background-color: var(--color-white);
    font-family: 'Lato', sans-serif;
    transform: translateX(0);
    opacity: 1;
    transition: all 1s ease-in-out;
    transition-delay: 2s; }
    .sign-in-modal__content i {
      position: absolute;
      color: var(--color-white);
      top: 10px;
      right: 8px;
      height: 2rem;
      width: 2rem;
      background-color: var(--color-blue);
      display: flex;
      align-items: center;
      justify-content: center;
      align-content: center;
      border-radius: 50%;
      font-size: 14px;
      cursor: pointer; }
    .sign-in-modal__content p {
      text-align: center;
      margin-top: 4rem;
      font-size: 1.6rem;
      font-family: var(--font-display); }
    .sign-in-modal__content-comp {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 2rem; }
      .sign-in-modal__content-comp img {
        height: 3rem;
        width: 3rem;
        margin-right: 2rem; }
      .sign-in-modal__content-comp h4 {
        font-family: var(--font-display);
        font-size: 1.7rem;
        font-weight: 500; }
    .sign-in-modal__content-note p {
      margin: 0;
      margin-top: 1.4rem;
      font-size: 1.4rem; }
    .sign-in-modal__content-note::after {
      content: "";
      display: block;
      width: 70px;
      height: 4px;
      border-radius: 5px;
      background-color: var(--color-btn);
      margin: 0 auto;
      margin-top: 10px; }
    .sign-in-modal__content-accounts {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-top: 1rem;
      width: 100%; }
      .sign-in-modal__content-accounts button {
        align-self: center;
        margin: 1rem; }
      .sign-in-modal__content-accounts p {
        margin-top: -.7rem;
        font-size: 1.4rem;
        padding: 1rem; }
        .sign-in-modal__content-accounts p span {
          color: var(--color-blue);
          cursor: pointer; }

.policy {
  margin-top: -2rem; }

.sendaway {
  display: none; }

.tranformx {
  transform: translateX(100rem);
  display: none;
  opacity: 0; }

.section-faq {
  display: flex;
  flex-direction: column; }
  .section-faq a,
  .section-faq :link,
  .section-faq :visited {
    align-self: center;
    margin-top: 6rem;
    text-decoration: underline;
    color: var(--color-primary-main);
    font-size: 1.7rem;
    font-weight: 900;
    font-family: 'Lato', sans-serif; }
  .section-faq h4 {
    text-align: center;
    font-family: var(--font-display);
    font-size: 1.8rem;
    margin-top: 1.2rem; }
  .section-faq__content {
    display: grid;
    grid-template-columns: repeat(2, 300px);
    grid-template-rows: auto;
    grid-gap: 30px;
    justify-content: center;
    align-content: center;
    margin-top: 5rem; }
    .section-faq__content-note {
      font-family: var(--font-display); }
      .section-faq__content-note h4 {
        margin-bottom: 1.3rem;
        font-size: 1.4rem;
        color: var(--color-primary-main);
        text-align: left; }
      .section-faq__content-note P {
        font-size: 1.3rem; }

.section-EA {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .section-EA__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: var(--font-display); }
    .section-EA__content-logo img {
      margin-bottom: 2rem; }
    .section-EA__content h4 {
      margin-bottom: 1rem;
      font-size: 2rem; }
    .section-EA__content p {
      font-size: 1.3rem;
      width: 40%;
      text-align: center;
      margin-bottom: 4rem; }
    .section-EA__content a,
    .section-EA__content :link,
    .section-EA__content :visited {
      text-decoration: none;
      text-transform: capitalize;
      color: var(--color-blue-dark); }
      .section-EA__content a:hover,
      .section-EA__content :link:hover,
      .section-EA__content :visited:hover {
        text-decoration: underline; }

.customer-make-order {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
  background-color: rgba(0, 0, 0, 0.308);
  height: 100vh;
  width: 100vw;
  z-index: 270;
  display: flex;
  align-items: center;
  justify-content: center; }
  .customer-make-order__content {
    height: 50rem;
    width: 100rem;
    background-color: var(--color-white);
    border-radius: 5px;
    font-family: var(--font-display); }
    .customer-make-order__content-pay {
      padding-top: 1.2rem;
      padding-left: 1.2rem; }
      .customer-make-order__content-pay h4 {
        margin-bottom: 1rem; }
      .customer-make-order__content-pay-steps {
        display: flex;
        justify-content: space-between; }
        .customer-make-order__content-pay-steps-left {
          padding: 2rem; }
          .customer-make-order__content-pay-steps-left ul {
            list-style: none; }
            .customer-make-order__content-pay-steps-left ul li:before {
              content: '✓'; }
            .customer-make-order__content-pay-steps-left ul li {
              margin-top: .5rem; }
        .customer-make-order__content-pay-steps-right {
          padding: 2rem;
          align-self: flex-end; }

#map {
  overflow: hidden;
  height: 30rem;
  background-color: var(--color-primary); }

.hidden {
  display: none; }

.toasts {
  position: fixed;
  z-index: 380;
  bottom: 2rem;
  right: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  transition: all .8s ease-out; }

.toast {
  color: var(--color-white);
  background-color: var(--color-primary-main);
  border-radius: 5px;
  padding: 2rem 2rem;
  font-family: 'Lato', sans-serif;
  font-size: 1.6rem;
  margin: 0.5rem; }

.upper-note {
  display: flex;
  background-color: var(--color-blue);
  padding: 1rem;
  color: var(--color-white);
  flex-direction: column;
  align-items: center;
  font-family: var(--font-display); }
  .upper-note__icon {
    align-self: flex-end;
    color: var(--color-white);
    margin-top: -4rem;
    padding: 1rem;
    right: 1rem;
    cursor: pointer; }
  .upper-note h4 {
    margin-bottom: 1rem; }
  .upper-note p a,
  .upper-note p :link,
  .upper-note p :visited {
    text-decoration: underline;
    color: var(--color-white); }
    .upper-note p a:hover,
    .upper-note p :link:hover,
    .upper-note p :visited:hover {
      text-decoration: none; }

.section-products2__grid {
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px; }
  .section-products2__grid-content {
    display: flex;
    flex-direction: column;
    background-color: var(--color-white);
    border-radius: 5px;
    overflow: hidden;
    transition: all ease-out; }
    .section-products2__grid-content:hover {
      transform: scale(1.0005);
      box-shadow: 2px 2px 12px #88888846; }
    .section-products2__grid-content-img img {
      width: 350px;
      height: 20rem; }
    .section-products2__grid-content-details {
      margin-top: 1rem;
      padding: 1rem;
      font-family: var(--font-display); }
      .section-products2__grid-content-details p {
        width: 95%;
        font-size: 1.2rem;
        margin-top: .6rem; }
    .section-products2__grid-content-btn {
      margin: 2.4rem .5rem;
      padding: .5rem;
      display: flex;
      align-items: center; }
      .section-products2__grid-content-btn svg {
        height: 2rem;
        width: 2rem;
        fill: var(--color-primary-main);
        cursor: pointer;
        margin-left: 12rem;
        justify-self: flex-end; }

.section-products {
  padding: 50px 0px;
  background-color: var(--color-primary); }

.section-info {
  padding: 5rem 0;
  background-color: var(--color-white); }

.section-cards {
  padding: 5rem 0 5rem; }

.section-testimonials {
  height: 60rem;
  background-color: var(--color-white);
  padding: 4rem; }

.section-faq {
  padding: 5rem 0;
  background-color: var(--color-primary); }

.section-EA {
  padding: 12rem 0;
  background-color: var(--color-white); }

.section-products2 {
  padding: 5rem 0rem;
  background-color: var(--color-primary); }

.section-learn {
  background-color: var(--color-white);
  padding: 5rem 0;
  font-family: var(--font-display); }
  .section-learn__img {
    height: auto;
    margin-top: 6rem; }
    .section-learn__img img {
      width: 100%; }
  .section-learn h4 {
    text-align: center;
    font-size: 1.9rem; }

.section-learn2 {
  background-color: var(--color-white);
  padding: 5rem 0;
  font-family: var(--font-display);
  display: flex;
  align-items: center;
  justify-content: center; }
  .section-learn2 button {
    align-self: center; }

.apps-content {
  display: flex;
  flex-direction: column;
  margin-top: 6rem; }

.icon-box2 {
  margin-left: 1.4rem;
  height: 2rem;
  width: 2rem;
  border-radius: 200px;
  margin-bottom: 8rem; }
  .icon-box2 i {
    font-size: 2.5rem;
    display: inline-block;
    background-color: var(--color-primary);
    padding: 2rem;
    border-radius: 200px;
    text-align: center;
    font-weight: 700;
    color: var(--color-green); }

.box-text h3 {
  margin-bottom: 1rem; }

.box-text p {
  margin-bottom: 3rem;
  line-height: 2rem; }
