:root {
 
    --color-primary: #eee;
    --color-primary-main: #323232;
    --color-primary-light: #424242;
    --color-primary-sub: orangered;
    --color-white: #fff;
    --color-white-light: #f5f5f5;
    --color-blue: #0c5bd1;
    --color-blue-dark:rgb(8, 79, 187);
    --color-green: #0ed149;
  
    --color-btn: #e67e22;
    --color-btn-hover: #e47311;
    --color-primary1: #c69963;
    --color-primary-dark: #B28451;
  
    --grid-width: 114rem;
    --gutter-horizontal: 4rem;
    --gutter-vertical: 8rem;
  
    --font-primary: Sans-serif;
    --font-display: 'Josefin Sans', sans-serif;
  }


  