//takes the overall page setting

.section-products {
    padding: 50px 0px;
    background-color: var(--color-primary);

}

.section-info {
    padding: 5rem 0;
    background-color: var(--color-white); 
}

.section-cards {
    padding: 5rem 0 5rem;
}

.section-testimonials {
    height: 60rem;
    background-color: var(--color-white);
    padding: 4rem;
}

.section-faq {
    padding: 5rem 0;
    background-color: var(--color-primary);
}

.section-EA {
    padding: 12rem 0;
    background-color: var(--color-white);
}